



.register {
  background-color: rgb(167, 166, 165);
}

.list-search {
  background-color: rgb(167, 166, 165);
}

.bg-image-user {
  background-image: url("https://images.unsplash.com/photo-1566305977571-5666677c6e98?q=80&w=3265&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.bg-image {
  background-image: url("https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.user-image {
  max-height: 200px; /* Adjust this value according to your needs */
  width: auto;
  height: auto;
  object-fit: contain;
}

.card-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}