{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block body_class %}list-search{% endblock %}

{% block navbar %}
<a class="nav-link" href="#">SECRETS</a>
<a class="nav-link" href="#">SO MANY SECRETS</a>
{% endblock %}

{% block content %}


<section class="py-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="display-2">List Search</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero quibusdam rem,
          incidunt fuga odit ad modi, nihil!</p>
      </div>
    </div>
  </section>


  <div class="container">

    <div class="row">
      <div class="col">
        <h2 class="display-3">Popular</h2>
        <div class="d-flex flex-row flex-wrap">


          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0 small">Between 01/01/01 and 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="/book-results" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>


          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>


          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>


          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>


          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>


          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <hr>

    <div class="row mt-3">
      <div class="col">
        <h2 class="display-3">Fiction</h2>
        <div class="d-flex flex-row flex-wrap">

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>

          <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Combined Print & E-Book Fiction </h5>
              <h6 class="card-subtitle mb-4 text-muted">Updated Weekly</h6>
              <p class="mb-lg-0">Enter Date after 01/01/01</p>
              <div>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2001-01-01" max="2022-12-31">
              </div>
              <a href="#" class="btn btn-sm btn-primary mt-2">Go to List!</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>




{% endblock %}