{% extends "base.html" %} {% block title %} Registration {% endblock %} 


{% block body_class %}register{% endblock %}


{% block navbar %}
<a class="nav-link" href="/">Return Home</a>
{% endblock %} 


{% block content %}

<div class="container mt-2">

  <!-- Zak Question -->
  <!-- I wanted to put space between form and navbar and so I created this row, but it seems hacky -->
  <!-- <div class="row">
    <div class="col" style="height: 100px"></div>
  </div> -->

  <form method="POST" action="/register">
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <h2 class="text-center">Register Here</h2>
        <div class="mt-4">
          {{ form.hidden_tag() }} {% for field in form if
          field.widget.input_type != 'hidden' %}
          <p>
            {{ field.label }} {{ field(class_="form-control") }} {% for error in
            field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
          </p>
          {% endfor %}
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
