{% extends "base.html" %}

{% block title %}User Page{% endblock %}

{% block navbar %}
<a class="nav-link" href="#">SECRETS</a>
<a class="nav-link" href="#">SO MANY SECRETS</a>
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- I can just add a class here to do bg-image like I did on the home page; add it here and then in my css -->
    <div class="row d-flex justify-content-between bg-secondary bg-image-user">
      <div class="col-3">
        <h2 class="text-light">{{ username }}</h2>
        <img
          src="{{ user['image_url'] }}"
          alt="" class="img-fluid rounded-3 user-image">
        <p class="text-light w-75">"{{ user['bio'] }}."</p>
      </div>
      <div class="col-8 d-flex align-items-center">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-4 ">
        <h2>My Saved Lists</h2>
        <a href="/list-search" class="btn btn-dark mb-2">Search for Lists</a>

        <ul class="list-group">

          {% for item in favorited_lists %}
          <li class="list-group-item">
            <a href="/list-search/remove?list_name_encoded={{item}}" class="btn btn-sm btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .60rem;">Remove List</a>
            {{ item }} 
                   
          </li>
          {% endfor %}

        </div>
      <div class="col-8">
        <h2>My Saved Books</h2>
        <div class="d-flex flex-row flex-wrap">

          {% for book in favorited_books %}

          <div class="card mx-2" style="width: 14rem;">
            <img
              src="{{ book[3] }}"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ book[0] }}</h5>
              <h6 class="card-subtitle mb-4 text-muted">by {{ book[1] }}</h6>
              <p class="card-text"> {{ book[2] }} </p>
              <a href="/book-search/remove?book_id={{ book[4] }}" class="btn btn-primary">Remove Book</a>
            </div>
          </div>

          {% endfor %}

        </div>

      </div>


    </div>
  </div>


{% endblock %}